.el-button-block {
    display: block;
    width: 100%;
}

.el-message {
    --el-message-min-width: !important;
}

#layout-aside .el-menu{
    border-right: none;
}
.is-active{
    background-color: rgba(211,217,217,0.2 )!important;
}
.is-opened{
    .el-sub-menu__title{background-color: #f56c6c !important;}
}

//我也不清楚什么后果 但看起来所有的元素居中都是靠它
// #app{
//     text-align: left !important;
// }